# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Neovim java lsp configs
.settings/
app/.settings/
app/bin/
.project
app/.classpath
app/.project
